body {
    background-image: url(https://images.unsplash.com/photo-1546198633-17b6085e28dd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
     /* sets the background image */
    background-size: cover; /* makes sure the image covers the entire background */
    position: relative;
}

/* body::before {
    
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position:center;
    background-size:cover;
    background-attachment: fixed;
} */

h1 {
    font-family: 'Jolly Lodger', cursive;
    font-size: 70px;
    text-align: center;
}

h2 {
    border-style:inset;
    font-size: 50px;
    text-align: center;
    color: darkred;
   
}

p { 
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke !important;
}

ul {
    font-weight: bold;
    font-size: 20px;
    color: whitesmoke !important;
}

table {
    height: 800px;
    width: 800px;
    text-align: center;
    font-size: 200px;
    display:flex;
    justify-content: center;
}

td,tr {
    border:10px solid;
}

#ruleset {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#doorgrid {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

footer {
    color: whitesmoke !important;
}

.game-name {
    background-image: linear-gradient(to bottom, #000000, #1d060c, #2f0a11, #420711, #55030e, #69010e, #7d000b, #900005, #ab0006, #c60005, #e20003, #ff0000);
    background-clip: text;
    background-size:100%;
    background-repeat:repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* 
# for referencing tags
. for classes 
*/